
:root{
  --animate-delay: 0.5s;
  --default-color: #0f223b;
}
html {
    scroll-behavior: smooth;
}
.navigation-color{
    background-color: #0e1d31;
}
.default-bg{
  background-color: var(--default-color);
}

.default-text-color{
  color: var(--default-color);
}


.custom-shape-divider-bottom-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 70px;
}

.custom-shape-divider-bottom-1 .shape-fill {
  fill: #FFFFFF;
}



.custom-shape-divider-top-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 49px;
}

.custom-shape-divider-top-1 .shape-fill {
  fill: #FFFFFF;
}


.custom-shape-divider-bottom-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-2 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 70px;
}

.custom-shape-divider-bottom-2 .shape-fill {
  fill: #FFFFFF;
}






.custom-shape-divider-top-1710835875 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1710835875 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 59px;
}

.custom-shape-divider-top-1710835875 .shape-fill {
  fill: #FFFFFF;
}




.custom-shape-divider-top-1710916458 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1710916458 svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 30px;
}

.custom-shape-divider-top-1710916458 .shape-fill {
    fill: #FFFFFF;
}


.custom-shape-divider-bottom-1710986517 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1710986517 svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 30px;
}

.custom-shape-divider-bottom-1710986517 .shape-fill {
    fill: #FFFFFF;
}



.custom-shape-divider-top-1710986610 {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1710986610 svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 36px;
}

.custom-shape-divider-top-1710986610 .shape-fill {
    fill: #FFFFFF;
}
